<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56917404063-8mv5gr53ml31gcgdu9c107hstpsl97dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56917404063-8mv5gr53ml31gcgdu9c107hstpsl97dt</string>
	<key>API_KEY</key>
	<string>AIzaSyD9iC-PGypls-gd7kihAtueL4XL6zz3OxA</string>
	<key>GCM_SENDER_ID</key>
	<string>56917404063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.investment</string>
	<key>PROJECT_ID</key>
	<string>landbroker-f2917</string>
	<key>STORAGE_BUCKET</key>
	<string>landbroker-f2917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56917404063:ios:2f4f39a1cb2252078df5aa</string>
</dict>
</plist>